# Enviroment variables needed to connect to the LiveKit server.
LIVEKIT_API_KEY=<API8o7eZcHiYy9d>
LIVEKIT_API_SECRET=<4om77qOcPIJy0cV2r412yWXDW650WbOkhx8cKEla53E>
LIVEKIT_URL=wss://dora-745vohli.livekit.cloud


# Internally used environment variables
NEXT_PUBLIC_APP_CONFIG_ENDPOINT=
SANDBOX_ID=
